* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 13px;
	background-color: #fafafa;
}

.container {
	width: 600px;
	margin: 50px auto 20px;
}

.title {
	font-size: 30px;
	font-weight: bold;
	font-family: "Courier New", Monospace;
	text-shadow: #ccc 2px 2px 1px;
	padding-bottom: 5px;
}

.chat {
	background-image: url('../mandala.jpg');
	border: 1px solid #ccc;
	height: 400px;
	overflow-y: scroll;
	background-color: white;
	border-radius: 10px 0 0 0;
}

.chat div {
	display: inline-block;
	margin: 10px 10px;
    border-radius: 20px;
	padding: 2%;
}

.chat .party {
	font-weight: bold;
}

.chat .you {
	color: rgb(233, 64, 67);
}

.chat .other {
	color: #2A91A8;;
}

.chat .pic {
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}

.busy {
	position: absolute;
	padding: 3px 0;
	color: #666;
	display: none;
	font-size: 11px;
}

.input input {
	vertical-align: top;
	float: left;
	border: 1px solid #ccc;
	padding: 5px;
	width: 480px;
	margin: 0;
	border-radius: 5px;
}

.input a {
	vertical-align: top;
	float: right;
	font-weight: bold;
	border: 1px solid #ccc;
	background-color: #2A91A8;
	padding: 7px 35px;
	color: white;
	text-decoration: none;
	border-radius: 20px;
	text-transform: uppercase;
	margin-top: 1%;
}

.input a:hover {
	background-color: #ddd;
	cursor: pointer;
}

.fa-lg{
    margin-left: -27px;
	margin-top: 7px;
    padding: 6px;
	color:#2A91A8;
}

#box {
	border: none;
    border-bottom: 1px solid #dcdcdc;
    background-color: transparent;
	height: 40px;
}

#box:focus {
	outline-color: transparent;
    border-bottom: 1px solid #2A91A8;
}

.input input:focus {
	border-top: none;
}

hr{
	border-width: 0px;
} 

.balloon-other {
	background-color: #BBDEFB;
	opacity: 0.9;
}

.balloon-you {
	float: right;
	background-color: #1BC98E;
	opacity: 0.9;
}